USE [BuccalMedicDB]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 24/11/2024 01:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[CitaID] [varchar](50) NOT NULL,
	[ClienteID] [int] NOT NULL,
	[Estado] [varchar](50) NULL,
	[FechaProgramacion] [datetime] NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[FechaFinCita] [datetime] NULL,
	[FechaRegistroCita] [datetime] NOT NULL,
 CONSTRAINT [PK_Cita] PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citatratamiento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citatratamiento](
	[CitatratamientoID] [int] IDENTITY(1,1) NOT NULL,
	[CitaID] [varchar](50) NULL,
	[TratamientoID] [int] NOT NULL,
	[Procedimiento] [varchar](50) NULL,
	[Recomendaciones] [varchar](50) NULL,
 CONSTRAINT [PK_Citatratamiento] PRIMARY KEY CLUSTERED 
(
	[CitatratamientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NULL,
	[DNI] [varchar](50) NULL,
	[Genero] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleOrdenCompra]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleOrdenCompra](
	[DetalleOrdenCompraID] [int] IDENTITY(1,1) NOT NULL,
	[OrdencompraID] [varchar](50) NOT NULL,
	[ImplementoID] [int] NOT NULL,
 CONSTRAINT [PK_OrdenCompraImplemento] PRIMARY KEY CLUSTERED 
(
	[DetalleOrdenCompraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[DetallePedidoID] [int] IDENTITY(1,1) NOT NULL,
	[PedidoimplementoID] [varchar](50) NOT NULL,
	[ImplementoID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_ImplementoPedidoImplemento] PRIMARY KEY CLUSTERED 
(
	[DetallePedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[DiagnosticoID] [varchar](50) NOT NULL,
	[CitaID] [varchar](50) NOT NULL,
	[Resultado] [varchar](250) NULL,
	[Recomendacion] [varchar](250) NULL,
 CONSTRAINT [PK_Diagnostico] PRIMARY KEY CLUSTERED 
(
	[DiagnosticoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiagnosticoTratamiento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosticoTratamiento](
	[DiagnosticoTratamientoID] [int] IDENTITY(1,1) NOT NULL,
	[TratamientoID] [int] NOT NULL,
	[DiagnosticoID] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DiagnosticoTratamiento] PRIMARY KEY CLUSTERED 
(
	[DiagnosticoTratamientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[DNI] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[FechaNacimiento] [varchar](50) NULL,
	[Genero] [varchar](50) NULL,
	[Cargo] [varchar](50) NULL,
	[Usuario] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
 CONSTRAINT [PK_Odontologo] PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Implemento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Implemento](
	[ImplementoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Implemento] PRIMARY KEY CLUSTERED 
(
	[ImplementoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notaingreso]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notaingreso](
	[NotaingresoID] [int] IDENTITY(1,1) NOT NULL,
	[OrdencompraID] [varchar](50) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Notaingreso] PRIMARY KEY CLUSTERED 
(
	[NotaingresoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordencompra]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordencompra](
	[OrdencompraID] [varchar](50) NOT NULL,
	[ProveedorID] [int] NOT NULL,
	[EmpleadoID] [int] NOT NULL,
	[FechaDeRegistro] [datetime] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Monto] [money] NULL,
 CONSTRAINT [PK_Ordencompra] PRIMARY KEY CLUSTERED 
(
	[OrdencompraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidoimplemento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidoimplemento](
	[PedidoimplementoID] [varchar](50) NOT NULL,
	[OdontologoID] [int] NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[FechaEntrega] [datetime] NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pedidoimplemento] PRIMARY KEY CLUSTERED 
(
	[PedidoimplementoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[ProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Ruc] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[NombreTratamiento] [varchar](100) NOT NULL,
	[TratamientoID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](240) NOT NULL,
	[estado] [varchar](50) NULL,
	[Precio] [money] NOT NULL,
 CONSTRAINT [PK_Tratamiento] PRIMARY KEY CLUSTERED 
(
	[TratamientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cita] ([CitaID], [ClienteID], [Estado], [FechaProgramacion], [EmpleadoID], [FechaFinCita], [FechaRegistroCita]) VALUES (N'CIT_1_1_23/11/24_09:00', 1, N'ATENDIDO', CAST(N'2024-11-23T09:00:00.000' AS DateTime), 1, NULL, CAST(N'2024-11-22T21:43:50.107' AS DateTime))
INSERT [dbo].[Cita] ([CitaID], [ClienteID], [Estado], [FechaProgramacion], [EmpleadoID], [FechaFinCita], [FechaRegistroCita]) VALUES (N'CIT_1_1_30/11/24_10:00', 1, N'ANULADO', CAST(N'2024-11-30T10:00:00.000' AS DateTime), 1, NULL, CAST(N'2024-11-22T22:03:45.433' AS DateTime))
INSERT [dbo].[Cita] ([CitaID], [ClienteID], [Estado], [FechaProgramacion], [EmpleadoID], [FechaFinCita], [FechaRegistroCita]) VALUES (N'CIT_1_2_02/12/24_10:00', 1, N'PENDIENTE', CAST(N'2024-12-02T10:00:00.000' AS DateTime), 2, NULL, CAST(N'2024-11-23T20:18:40.687' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Citatratamiento] ON 

INSERT [dbo].[Citatratamiento] ([CitatratamientoID], [CitaID], [TratamientoID], [Procedimiento], [Recomendaciones]) VALUES (6, N'CIT_1_5_23/11/24_10:00', 1, NULL, NULL)
INSERT [dbo].[Citatratamiento] ([CitatratamientoID], [CitaID], [TratamientoID], [Procedimiento], [Recomendaciones]) VALUES (7, N'CIT_3_1_22/11/24_11:00', 1, N'le quite el dientito', N'abrigate, hace frio')
INSERT [dbo].[Citatratamiento] ([CitatratamientoID], [CitaID], [TratamientoID], [Procedimiento], [Recomendaciones]) VALUES (8, N'CIT_4_3_22/11/24_12:00', 3, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Citatratamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteID], [Nombre], [DNI], [Genero], [FechaNacimiento], [Estado]) VALUES (1, N'BumiBum', N'75048062', N'Masculino', CAST(N'2003-09-28' AS Date), N'ACTIVO')
INSERT [dbo].[Cliente] ([ClienteID], [Nombre], [DNI], [Genero], [FechaNacimiento], [Estado]) VALUES (2, N'Rodolfin', N'84253698', N'Masculino', CAST(N'2003-01-21' AS Date), N'ACTIVO')
INSERT [dbo].[Cliente] ([ClienteID], [Nombre], [DNI], [Genero], [FechaNacimiento], [Estado]) VALUES (3, N'Bobito', N'85245695', N'Masculino', CAST(N'2005-11-23' AS Date), N'ACTIVO')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[Diagnostico] ([DiagnosticoID], [CitaID], [Resultado], [Recomendacion]) VALUES (N'DIAG_1_1_23/11/24_09:00', N'CIT_1_1_23/11/24_09:00', N'Tenia sed', N'toma agua')
INSERT [dbo].[Diagnostico] ([DiagnosticoID], [CitaID], [Resultado], [Recomendacion]) VALUES (N'DIAG_1_1_30/11/24_10:00', N'CIT_1_1_30/11/24_10:00', N'tenia amsieda', N'lo mimi')
INSERT [dbo].[Diagnostico] ([DiagnosticoID], [CitaID], [Resultado], [Recomendacion]) VALUES (N'DIAG_1_3_27/11/24_11:00', N'CIT_1_3_27/11/24_11:00', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DiagnosticoTratamiento] ON 

INSERT [dbo].[DiagnosticoTratamiento] ([DiagnosticoTratamientoID], [TratamientoID], [DiagnosticoID]) VALUES (1, 3, N'DIAG_1_1_30/11/24_10:00')
INSERT [dbo].[DiagnosticoTratamiento] ([DiagnosticoTratamientoID], [TratamientoID], [DiagnosticoID]) VALUES (2, 4, N'DIAG_1_1_30/11/24_10:00')
SET IDENTITY_INSERT [dbo].[DiagnosticoTratamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([EmpleadoID], [Nombre], [DNI], [Telefono], [FechaNacimiento], [Genero], [Cargo], [Usuario], [Contraseña]) VALUES (1, N'Juan Pérez', N'12345678', N'987654321', N'1990-05-15', N'Masculino', N'ODONTOLOGO', N'juan', N'123')
INSERT [dbo].[Empleado] ([EmpleadoID], [Nombre], [DNI], [Telefono], [FechaNacimiento], [Genero], [Cargo], [Usuario], [Contraseña]) VALUES (2, N'Ana Martínez', N'23456789', N'876543210', N'1992-07-20', N'Femenino', N'ODONTOLOGO', N'ana', N'123')
INSERT [dbo].[Empleado] ([EmpleadoID], [Nombre], [DNI], [Telefono], [FechaNacimiento], [Genero], [Cargo], [Usuario], [Contraseña]) VALUES (3, N'Carlos López', N'34567890', N'765432109', N'1988-03-10', N'Masculino', N'ODONTOLOGO', N'carlos', N'123')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Tratamiento] ON 

INSERT [dbo].[Tratamiento] ([NombreTratamiento], [TratamientoID], [Descripcion], [estado], [Precio]) VALUES (N'Limpieza Dental', 1, N'Eliminación de placa y sarro para una mejor higiene bucal', N'ACTIVO', 50.0000)
INSERT [dbo].[Tratamiento] ([NombreTratamiento], [TratamientoID], [Descripcion], [estado], [Precio]) VALUES (N'Extracción de Muela', 2, N'Procedimiento quirúrgico para retirar una muela dañada', N'ACTIVO', 120.0000)
INSERT [dbo].[Tratamiento] ([NombreTratamiento], [TratamientoID], [Descripcion], [estado], [Precio]) VALUES (N'Ortodoncia', 3, N'Corrección de la posición de los dientes con brackets', N'ACTIVO', 1000.0000)
SET IDENTITY_INSERT [dbo].[Tratamiento] OFF
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Cliente] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Cliente] ([ClienteID])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Cliente]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Odontologo] FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleado] ([EmpleadoID])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Odontologo]
GO
ALTER TABLE [dbo].[Citatratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Citatratamiento_Cita] FOREIGN KEY([CitaID])
REFERENCES [dbo].[Cita] ([CitaID])
GO
ALTER TABLE [dbo].[Citatratamiento] CHECK CONSTRAINT [FK_Citatratamiento_Cita]
GO
ALTER TABLE [dbo].[Citatratamiento]  WITH CHECK ADD  CONSTRAINT [FK_Citatratamiento_Tratamiento] FOREIGN KEY([TratamientoID])
REFERENCES [dbo].[Tratamiento] ([TratamientoID])
GO
ALTER TABLE [dbo].[Citatratamiento] CHECK CONSTRAINT [FK_Citatratamiento_Tratamiento]
GO
ALTER TABLE [dbo].[DetalleOrdenCompra]  WITH CHECK ADD  CONSTRAINT [FK_OrdenCompraImplemento_Implemento] FOREIGN KEY([ImplementoID])
REFERENCES [dbo].[Implemento] ([ImplementoID])
GO
ALTER TABLE [dbo].[DetalleOrdenCompra] CHECK CONSTRAINT [FK_OrdenCompraImplemento_Implemento]
GO
ALTER TABLE [dbo].[DetalleOrdenCompra]  WITH CHECK ADD  CONSTRAINT [FK_OrdenCompraImplemento_OrdenCompra] FOREIGN KEY([OrdencompraID])
REFERENCES [dbo].[Ordencompra] ([OrdencompraID])
GO
ALTER TABLE [dbo].[DetalleOrdenCompra] CHECK CONSTRAINT [FK_OrdenCompraImplemento_OrdenCompra]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_ImplementoPedidoImplemento_Implemento] FOREIGN KEY([ImplementoID])
REFERENCES [dbo].[Implemento] ([ImplementoID])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_ImplementoPedidoImplemento_Implemento]
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD  CONSTRAINT [FK_ImplementoPedidoImplemento_PedidoImplemento] FOREIGN KEY([PedidoimplementoID])
REFERENCES [dbo].[Pedidoimplemento] ([PedidoimplementoID])
GO
ALTER TABLE [dbo].[DetallePedido] CHECK CONSTRAINT [FK_ImplementoPedidoImplemento_PedidoImplemento]
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD  CONSTRAINT [FK_Diagnostico_Cita] FOREIGN KEY([CitaID])
REFERENCES [dbo].[Cita] ([CitaID])
GO
ALTER TABLE [dbo].[Diagnostico] CHECK CONSTRAINT [FK_Diagnostico_Cita]
GO
ALTER TABLE [dbo].[DiagnosticoTratamiento]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticoTratamiento_Diagnostico] FOREIGN KEY([DiagnosticoID])
REFERENCES [dbo].[Diagnostico] ([DiagnosticoID])
GO
ALTER TABLE [dbo].[DiagnosticoTratamiento] CHECK CONSTRAINT [FK_DiagnosticoTratamiento_Diagnostico]
GO
ALTER TABLE [dbo].[DiagnosticoTratamiento]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticoTratamiento_Tratamiento] FOREIGN KEY([TratamientoID])
REFERENCES [dbo].[Tratamiento] ([TratamientoID])
GO
ALTER TABLE [dbo].[DiagnosticoTratamiento] CHECK CONSTRAINT [FK_DiagnosticoTratamiento_Tratamiento]
GO
ALTER TABLE [dbo].[Notaingreso]  WITH CHECK ADD  CONSTRAINT [FK_Notaingreso_Ordencompra] FOREIGN KEY([OrdencompraID])
REFERENCES [dbo].[Ordencompra] ([OrdencompraID])
GO
ALTER TABLE [dbo].[Notaingreso] CHECK CONSTRAINT [FK_Notaingreso_Ordencompra]
GO
ALTER TABLE [dbo].[Ordencompra]  WITH CHECK ADD  CONSTRAINT [FK_Ordencompra_Empleado_02] FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleado] ([EmpleadoID])
GO
ALTER TABLE [dbo].[Ordencompra] CHECK CONSTRAINT [FK_Ordencompra_Empleado_02]
GO
ALTER TABLE [dbo].[Ordencompra]  WITH CHECK ADD  CONSTRAINT [FK_Ordencompra_Proveedor] FOREIGN KEY([ProveedorID])
REFERENCES [dbo].[Proveedor] ([ProveedorID])
GO
ALTER TABLE [dbo].[Ordencompra] CHECK CONSTRAINT [FK_Ordencompra_Proveedor]
GO
ALTER TABLE [dbo].[Pedidoimplemento]  WITH CHECK ADD  CONSTRAINT [FK_Pedidoimplemento_Odontologo] FOREIGN KEY([OdontologoID])
REFERENCES [dbo].[Empleado] ([EmpleadoID])
GO
ALTER TABLE [dbo].[Pedidoimplemento] CHECK CONSTRAINT [FK_Pedidoimplemento_Odontologo]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarCitasPorEmpleado]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarCitasPorEmpleado]        
@IdEmpleado INT    
AS    
BEGIN        
	SELECT 
		CitaID,
		EmpleadoID,
		ClienteID,
		FechaRegistroCita, 
		FechaProgramacion,
		DATEADD(HOUR, 1, FechaProgramacion) AS Fecha_fin_provisional, 
		Estado      
		FROM Cita      
		WHERE EmpleadoID = @IdEmpleado and Estado = 'PENDIENTE'
		ORDER BY FechaProgramacion;  
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarClienteDNI]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarClienteDNI]
    @dni_Cliente VARCHAR(50)
AS
BEGIN
    SELECT * FROM Cliente WHERE DNI = @dni_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEmpleadoLogin]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarEmpleadoLogin]
    @Usuario VARCHAR(50),
    @Password VARCHAR(50)
AS
BEGIN
    SELECT * FROM Empleado WHERE Usuario = @Usuario AND [Contraseña] = @Password
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEmpleadoNombre]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_BuscarEmpleadoNombre]
    @Nombre varchar(128)
AS
BEGIN
    SELECT * FROM Empleado WHERE Nombre = @Nombre
end
GO
/****** Object:  StoredProcedure [dbo].[sp_HistorialConsultas]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_HistorialConsultas]
AS
BEGIN
	SELECT 
		ct.CitaID,
		ct.FechaProgramacion,
		cl.Nombre as Paciente
	FROM Cita ct
	INNER JOIN Diagnostico dg on dg.CitaID = ct.CitaID
	INNER JOIN Cliente cl on ct.ClienteID = cl.ClienteID
	WHERE ct.Estado = 'ATENDIDO';
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_HistorialTratamientos]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_HistorialTratamientos]
AS
BEGIN
	SELECT 
		ct.CitaID,
		ct.FechaProgramacion,
		cl.Nombre as Paciente
	FROM Cita ct
	INNER JOIN Citatratamiento ctr on ctr.CitaID = ct.CitaID
	INNER JOIN Cliente cl on ct.ClienteID = cl.ClienteID
	WHERE ct.Estado = 'ATENDIDO';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_inhabilitarTratamiento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   procedure [dbo].[sp_inhabilitarTratamiento]
	@TratamientoID int,
	@estado varchar(50)
as 
begin
	UPDATE Tratamiento 
	SET estado = @estado 
	WHERE TratamientoID = @TratamientoID
end
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCita]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[sp_InsertarCita]
	@Id_Cita varchar(50),
    @Id_cliente INT,
    @id_empleado INT,
    @Fecha_inicio DATETIME,
    @Estado VARCHAR(50),
    @Fecha_registro DATETIME
AS
BEGIN
	
    INSERT INTO Cita (CitaID,ClienteID, EmpleadoID, FechaProgramacion, Estado, FechaRegistroCita)
    VALUES (@Id_Cita,@Id_cliente, @id_empleado, @Fecha_inicio, @Estado, @Fecha_registro)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCitaTratamiento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[sp_InsertarCitaTratamiento]
	@Id_Cita varchar(50),
	@Id_Tratamiento int
AS
BEGIN
    INSERT INTO Citatratamiento(CitaID, TratamientoID)
    VALUES (@Id_Cita, @Id_Tratamiento)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarCliente]
    @DNI VARCHAR(50),
    @Nombre VARCHAR(50),
    @Genero VARCHAR(50),
    @Estado VARCHAR(100),
    @Fecha_nacimiento DATETIME
AS
BEGIN
    INSERT INTO Cliente (DNI, Nombre, Genero, Estado, FechaNacimiento)
    VALUES (@DNI, @Nombre, @Genero, @Estado, @Fecha_nacimiento)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarConsulta]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarConsulta]
	@Id_Cita varchar(50),
    @Id_CitaConsulta varchar(50)
AS
BEGIN
    INSERT INTO Diagnostico(CitaID,DiagnosticoID)
    VALUES (@Id_Cita,@Id_CitaConsulta)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_lista]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[sp_lista]
	@tipo varchar(150),
    @CitaID NVARCHAR(50) = NULL,
    @Paciente NVARCHAR(50) = NULL,
    @FechaRegistro DATETIME = NULL
AS
BEGIN
if(@tipo = 'TRATAMIENTO')
begin
    SELECT 
        C.CitaID,
        C.FechaProgramacion,
        Cli.DNI,
        Cli.Nombre AS Paciente,
        T.NombreTratamiento AS Tratamiento,
        C.Estado
    FROM Cita AS C
    INNER JOIN Cliente AS Cli ON C.ClienteID = Cli.ClienteID 
    INNER JOIN Empleado AS E ON C.EmpleadoiD = E.EmpleadoiD 
    INNER JOIN Citatratamiento CT ON C.CitaID = CT.CitaID
    INNER JOIN Tratamiento T ON CT.TratamientoID = T.TratamientoID
    WHERE 
        C.Estado = 'ATENDIDO' AND -- Excluye las citas con estado "ANULADO"
        (@CitaID IS NULL OR c.CitaID  = @CitaID) AND
        (@Paciente IS NULL OR Cli.Nombre = @Paciente) AND
        (@FechaRegistro IS NULL OR CAST(C.FechaProgramacion AS DATE) = CAST(@FechaRegistro AS DATE))
END
ELSE 
begin
SELECT 
        C.CitaID,
        C.FechaProgramacion,
        Cli.DNI,
        Cli.Nombre AS Paciente,
        C.Estado
    FROM Cita AS C
    INNER JOIN Cliente AS Cli ON C.ClienteID = Cli.ClienteID 
    INNER JOIN Empleado AS E ON C.EmpleadoiD = E.EmpleadoiD 
	inner join Diagnostico as d on d.CitaID = c.CitaID
    WHERE 
        C.Estado = 'ATENDIDO' AND -- Excluye las citas con estado "ANULADO"
        (@CitaID IS NULL OR c.CitaID = @CitaID) AND
        (@Paciente IS NULL OR Cli.Nombre = @Paciente) AND
        (@FechaRegistro IS NULL OR CAST(C.FechaProgramacion AS DATE) = CAST(@FechaRegistro AS DATE))

end
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarClientes]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarClientes]
AS
BEGIN
    SELECT * FROM Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarOdontologos]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarOdontologos]
AS
BEGIN
    SELECT * FROM Empleado where Cargo = 'ODONTOLOGO'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarTratamiento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[sp_ListarTratamiento]
AS
BEGIN      
  SELECT * FROM Tratamiento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarCliente]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_modificarCliente]
	@Nombre VARCHAR(128) = null,
	@DNI VARCHAR(50),
	@Estado VARCHAR(50)= null
AS
BEGIN
	IF EXISTS(SELECT 1 FROM Cliente WHERE DNI = @DNI)
	BEGIN
		IF (@Nombre IS NOT NULL AND @Nombre != '')
		BEGIN
			UPDATE Cliente SET Nombre = @Nombre WHERE DNI = @DNI
		END
		IF (@Estado IS NOT NULL AND @Estado != '')
		BEGIN
			UPDATE Cliente SET Estado = @Estado WHERE DNI = @DNI
		END
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarAtencion]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure  [dbo].[SP_RegistrarAtencion]
(
@Id_Cita varchar(50),
@Procedimiento varchar(512),
@Recomendaciones varchar(512)
)
as
begin
	update Citatratamiento 
	set Procedimiento = @Procedimiento,
		Recomendaciones = @Recomendaciones
	where CitaID = @Id_Cita

	Update Cita
	set Estado = 'ATENDIDO'
	where CitaID = @Id_Cita
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarDiagnostico]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegistrarDiagnostico]
    @CitaID VARCHAR(50),
    @Recomendaciones VARCHAR(256),
    @Resultado VARCHAR(256)
AS
BEGIN
    -- primero, actualizo el diagnostico
    UPDATE Diagnostico
    SET Recomendacion = @Recomendaciones, Resultado = @Resultado
	WHERE CitaID = @CitaID;
    -- luego, actualizo el estado de la cita asociada a ese diagnostico por ATENDIDO
    UPDATE Cita
    SET Cita.Estado = 'ATENDIDO'
    FROM Cita WHERE CitaID = @CitaID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrartratamientosDiagnosticos]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure  [dbo].[SP_RegistrartratamientosDiagnosticos]
@Id_diagnostico varchar(50),
@Id_Tratamiento int
as
begin
insert into DiagnosticoTratamiento(DiagnosticoID, TratamientoID) values
(@Id_diagnostico,@Id_Tratamiento)
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RetornarCodigoDiagnostico]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RetornarCodigoDiagnostico]
@citaID varchar(50)
AS
BEGIN
SELECT
	dg.DiagnosticoID
FROM Diagnostico dg
WHERE dg.CitaID = @citaID
END
GO
/****** Object:  StoredProcedure [dbo].[spAnularCita]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spAnularCita]
    @Id_Cita NVARCHAR(50) 
AS
BEGIN
    UPDATE Cita
    SET Estado = 'ANULADO'  
    WHERE CitaID = @Id_Cita;  

    
    IF @@ROWCOUNT = 0
    BEGIN
        PRINT 'No se encontró la cita con el Id especificado.';
    END
    ELSE
    BEGIN
        PRINT 'El estado de la cita ha sido cambiado a Anulado.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[spDatosCita]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDatosCita]
    @Id_Cita NVARCHAR(50),
	@Estado NVARCHAR(50)
AS
BEGIN
   if (@Estado = 'PENDIENTE' or @Estado = 'ANULADO')
   begin
		SELECT 
			c.CitaID,
			c.FechaRegistroCita,
			e.Nombre AS Odontologo,
			cli.DNI,
			cli.Nombre AS Paciente,
			c.Estado
		FROM 
			Cita c
		INNER JOIN 
			Empleado e ON c.EmpleadoID = e.EmpleadoID
		INNER JOIN 
			Cliente cli ON c.ClienteID = cli.ClienteID
		WHERE 
			c.CitaID = @Id_Cita;
   end
   else if (@Estado = 'ATENDIDO')
   begin 
   print 'cita atendida'
		 SELECT 
			c.CitaID,
			c.FechaRegistroCita,
			e.Nombre AS Odontologo,
			cli.DNI,
			cli.Nombre AS Paciente,
			c.Estado,
			d.Recomendacion,
			d.Resultado
		FROM 
			Cita c
		INNER JOIN 
			Empleado e ON c.EmpleadoID = e.EmpleadoID
		INNER JOIN 
			Cliente cli ON c.ClienteID = cli.ClienteID
		INNER JOIN 
			Diagnostico d on c.CitaID = d.CitaID
		WHERE 
			c.CitaID = @Id_Cita;
   end
END;
GO
/****** Object:  StoredProcedure [dbo].[spDatosTratamiento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDatosTratamiento]
    @Id_Cita NVARCHAR(50),
	@Estado NVARCHAR(50)
AS
BEGIN
   if (@Estado = 'PENDIENTE' OR @Estado = 'ANULADO')
   begin
		SELECT 
			c.CitaID,
			c.FechaRegistroCita,
			e.Nombre AS Odontologo,
			cli.DNI,
			cli.Nombre AS Paciente,
			c.Estado,
			tr.NombreTratamiento  as Tratamiento
		FROM 
			Cita c
		INNER JOIN 
			Empleado e ON c.EmpleadoID = e.EmpleadoID
		INNER JOIN 
			Cliente cli ON c.ClienteID = cli.ClienteID
		INNER JOIN 
			Citatratamiento ct on c.CitaID = ct.CitaID
		INNER JOIN 
			Tratamiento tr on ct.TratamientoID = tr.TratamientoID
		WHERE 
			c.CitaID = @Id_Cita;
   end
   else if (@Estado = 'ATENDIDO')
   begin 
   print 'cita atendida'
		 SELECT 
			c.CitaID,
			c.FechaRegistroCita,
			e.Nombre AS Odontologo,
			cli.DNI,
			cli.Nombre AS Paciente,
			c.Estado,
			t.NombreTratamiento as Tratamiento,
			ct.Procedimiento,
			ct.Recomendaciones
		FROM 
			Cita c
		INNER JOIN 
			Empleado e ON c.EmpleadoID = e.EmpleadoID
		INNER JOIN 
			Cliente cli ON c.ClienteID = cli.ClienteID
		INNER JOIN 
			Citatratamiento ct on c.CitaID = ct.CitaID
		INNER JOIN 
			Tratamiento t on ct.TratamientoID = t.TratamientoID
		WHERE 
			c.CitaID = @Id_Cita;
   end
END;
GO
/****** Object:  StoredProcedure [dbo].[spEditarTratamiento]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    PROCEDURE [dbo].[spEditarTratamiento] 
(@idTratamiento int,
@Descripcion varchar(128),
@Nombre varchar(128),
@precio money
)
as
begin 
	update  Tratamiento set 
	Descripcion = @Descripcion,
	NombreTratamiento = @Nombre,
	Precio = @precio 
	where TratamientoID = @idTratamiento
end
GO
/****** Object:  StoredProcedure [dbo].[spHistorialDeCitas]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[spHistorialDeCitas]
    @Nombre NVARCHAR(50) = NULL,
    @Id_Cita VARCHAR(16) = NULL,  
	@Fecha_Registro DATETIME = NULL,
	@Id_Empleado int,
	@TipoCita varchar(16)
AS
BEGIN
	if (@TipoCita = 'CONSULTA')
	begin 
    SELECT 
        C.CitaID,  
        Cli.Nombre AS Paciente,
        C.FechaRegistroCita
    FROM 
        Diagnostico AS d
    INNER JOIN 
        Cita AS C ON C.CitaID = d.CitaID
    INNER JOIN 
        Cliente AS Cli ON Cli.ClienteID = C.ClienteID
	where (@Nombre IS NULL OR Cli.Nombre = @Nombre) AND
		(@Id_Cita IS NULL OR C.CitaID = @Id_Cita) AND
        (@Fecha_Registro IS NULL OR CAST(C.FechaRegistroCita AS DATE) = CAST(@Fecha_Registro AS DATE)) and
		(@Id_Empleado = c.EmpleadoID) AND
		(c.Estado = 'ATENDIDO')
	end
	else if (@TipoCita = 'TRATAMIENTO')
	begin
	SELECT 
        C.CitaID,  
        Cli.Nombre AS Paciente,
        C.FechaRegistroCita
    FROM 
        Citatratamiento AS Ct
    INNER JOIN 
        Cita AS C ON C.CitaID = Ct.CitaID
    INNER JOIN 
        Cliente AS Cli ON Cli.ClienteID = C.ClienteID
	where (@Nombre IS NULL OR Cli.Nombre = @Nombre) AND
		(@Id_Cita IS NULL OR C.CitaID = @Id_Cita) AND
        (@Fecha_Registro IS NULL OR CAST(C.FechaRegistroCita AS DATE) = CAST(@Fecha_Registro AS DATE)) and
		(@Id_Empleado = c.EmpleadoID) AND
		(c.Estado = 'ATENDIDO')
	end
END;
GO
/****** Object:  StoredProcedure [dbo].[spIdConsulta]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spIdConsulta] 
	@IdCita varchar(16)
as
begin
	select DiagnosticoID from Diagnostico
	Where @IdCita = CitaID
end
GO
/****** Object:  StoredProcedure [dbo].[spListaCitasFiltradas]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spListaCitasFiltradas]
    @DNI NVARCHAR(50) = NULL,
    @Odontologo NVARCHAR(50) = NULL,
    @Paciente NVARCHAR(50) = NULL,
    @FechaProgramacion DATETIME = NULL
AS
BEGIN
    SELECT 
        C.CitaID,
        C.FechaProgramacion,
        E.Nombre AS Odontologo,
        Cli.DNI,
        Cli.Nombre AS Paciente,
        T.NombreTratamiento AS Tratamiento,
        C.Estado
    FROM Cita AS C
    INNER JOIN Cliente AS Cli ON C.ClienteID = Cli.ClienteID 
    INNER JOIN Empleado AS E ON C.EmpleadoID = E.EmpleadoID 
    LEFT JOIN Citatratamiento CT ON C.CitaID = CT.CitaID
    LEFT JOIN Tratamiento T ON CT.TratamientoID = T.TratamientoID
    WHERE 
        (@DNI IS NULL OR Cli.DNI = @DNI) AND
        (@Odontologo IS NULL OR E.Nombre = @Odontologo) AND
        (@Paciente IS NULL OR Cli.Nombre = @Paciente) AND
        (@FechaProgramacion IS NULL OR C.FechaProgramacion = @FechaProgramacion)
END;
GO
/****** Object:  StoredProcedure [dbo].[spListaCitasPorOdontologo]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spListaCitasPorOdontologo]
    @Id_Empleado INT,         -- ID del empleado que inicia sesión
    @Cargo NVARCHAR(50),      -- Cargo del empleado (Odontólogo o Recepcionista)
    @DNI NVARCHAR(50) = NULL,
    @Paciente NVARCHAR(50) = NULL,
    @FechaRegistro DATETIME = NULL
AS
BEGIN
    SELECT 
        C.CitaID,
        C.FechaRegistroCita,
        Cli.DNI,
        Cli.Nombre AS Paciente,
        T.NombreTratamiento AS Tratamiento,
        C.Estado
    FROM Cita AS C
    INNER JOIN Cliente AS Cli ON C.ClienteID = Cli.ClienteID 
    INNER JOIN Empleado AS E ON C.EmpleadoiD = E.EmpleadoiD 
    LEFT JOIN Citatratamiento CT ON C.CitaID = CT.CitaID
    LEFT JOIN Tratamiento T ON CT.TratamientoID = T.TratamientoID
    WHERE 
        (@Cargo = 'RECEPCIONISTA' OR E.EmpleadoiD = @Id_Empleado) AND -- Filtra citas del odontólogo si es "ODONTOLOGO"
        E.Cargo = 'ODONTOLOGO' AND
        C.Estado = 'PENDIENTE' AND -- Excluye las citas con estado "ANULADO"
        (@DNI IS NULL OR Cli.DNI = @DNI) AND
        (@Paciente IS NULL OR Cli.Nombre = @Paciente) AND
        (@FechaRegistro IS NULL OR CAST(C.FechaRegistroCita AS DATE) = CAST(@FechaRegistro AS DATE))
END;
GO
/****** Object:  StoredProcedure [dbo].[spRegistrarTratamientos]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spRegistrarTratamientos]
 @descripcion varchar(128),
 @nombre varchar(128),
 @precio money
 AS
 BEGIN
 if Not exists(select 1 from Tratamiento where NombreTratamiento = @nombre)
 begin 
    Insert into Tratamiento(descripcion,NombreTratamiento,precio, estado)
	values(@descripcion,@nombre, @precio, 'ACTIVO');
 end
END
GO
/****** Object:  StoredProcedure [dbo].[spTipoDeCita]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[spTipoDeCita]
	@Id_Cita NVARCHAR(50)
as
begin
	declare @Estado NVARCHAR(50);
	declare @TipoCita NVARCHAR(50);
	if exists(select 1 from Diagnostico where CitaID = @Id_Cita)
	begin
		set @TipoCita = 'CONSULTA' ;
		select @Estado = Estado from Cita where CitaID = @Id_Cita
		select @TipoCita as tipoCita, @Estado as estado
	end
	else if exists(select 1 from Citatratamiento where CitaID = @Id_Cita)
	begin
		set @TipoCita = 'TRATAMIENTO' ;
		select @Estado = Estado from Cita where CitaID = @Id_Cita
		select @TipoCita as tipoCita, @Estado as estado
	end
	else 
	begin
		set @TipoCita = 'NO EXISTE' ;
		select @TipoCita as tipoCita		
	end
end
GO
/****** Object:  StoredProcedure [dbo].[spTratamientosDiagnostico]    Script Date: 24/11/2024 01:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure [dbo].[spTratamientosDiagnostico]
 @Id_Cita NVARCHAR(50)
 as
 begin
	select 
		t.NombreTratamiento as Tratamiento
	from Cita c
	inner join 
		Diagnostico d on c.CitaID = d.CitaID
	inner join 
		DiagnosticoTratamiento dt on d.DiagnosticoID = dt.DiagnosticoID
	inner join
		Tratamiento t on dt.TratamientoID = t.TratamientoID
	where 
				c.CitaID = @Id_Cita;
 end
GO
