USE [Bucal]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[Fecha_Registro] [datetime] NULL,
	[Id_cita] [varchar](16) NOT NULL,
	[Id_cliente] [int] NOT NULL,
	[Fecha_inicio] [datetime] NULL,
	[Estado] [varchar](50) NULL,
	[Fecha_fin] [datetime] NULL,
	[id_empleado] [int] NOT NULL,
 CONSTRAINT [Cita_PK] PRIMARY KEY CLUSTERED 
(
	[Id_cita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita_consulta]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita_consulta](
	[Id_citaconsulta] [varchar](16) NOT NULL,
	[Id_cita] [varchar](16) NOT NULL,
 CONSTRAINT [Cita_consulta_PK] PRIMARY KEY CLUSTERED 
(
	[Id_citaconsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita_tratamiento]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita_tratamiento](
	[Id_citatratamiento] [varchar](16) NOT NULL,
	[Id_cita] [varchar](16) NOT NULL,
	[Id_Tratamiento] [int] NOT NULL,
	[Procedimiento] [varchar](512) NULL,
	[Recomendaciones] [varchar](512) NULL,
 CONSTRAINT [PK_Cita_tratamiento] PRIMARY KEY CLUSTERED 
(
	[Id_citatratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](128) NULL,
	[Genero] [varchar](50) NULL,
	[Fecha_nacimiento] [datetime] NULL,
	[DNI] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
 CONSTRAINT [Cliente_PK] PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostico]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostico](
	[Id_diagnostico] [varchar](16) NOT NULL,
	[Id_citaconsulta] [varchar](16) NOT NULL,
	[Recomendaciones] [varchar](256) NULL,
	[Resultado] [varchar](256) NULL,
 CONSTRAINT [Diagnostico_PK] PRIMARY KEY CLUSTERED 
(
	[Id_diagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](36) NULL,
	[Password] [varchar](36) NULL,
	[Cargo] [varchar](36) NULL,
	[Nombre] [varchar](128) NULL,
 CONSTRAINT [Empleado_PK] PRIMARY KEY CLUSTERED 
(
	[Id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento](
	[Id_Tratamiento] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](128) NULL,
	[Nombre] [varchar](128) NULL,
 CONSTRAINT [Tratamiento_PK] PRIMARY KEY CLUSTERED 
(
	[Id_Tratamiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratamiento_diagnostico]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratamiento_diagnostico](
	[id_Tratamiento_Diagnostico] [int] IDENTITY(1,1) NOT NULL,
	[Id_Tratamiento] [int] NOT NULL,
	[Id_diagnostico] [varchar](16) NOT NULL,
 CONSTRAINT [Tratamiento_diagnostico_PK] PRIMARY KEY CLUSTERED 
(
	[id_Tratamiento_Diagnostico] ASC,
	[Id_Tratamiento] ASC,
	[Id_diagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cita] ([Fecha_Registro], [Id_cita], [Id_cliente], [Fecha_inicio], [Estado], [Fecha_fin], [id_empleado]) VALUES (CAST(N'2024-10-27T23:10:39.953' AS DateTime), N'0PtLudyiHK', 1, CAST(N'2024-01-10T04:00:00.000' AS DateTime), N'ATENDIDO', NULL, 3)
INSERT [dbo].[Cita] ([Fecha_Registro], [Id_cita], [Id_cliente], [Fecha_inicio], [Estado], [Fecha_fin], [id_empleado]) VALUES (CAST(N'2024-10-28T00:44:55.767' AS DateTime), N'7fVon2GUJb', 14, CAST(N'2024-01-18T12:00:00.000' AS DateTime), N'Anulado', NULL, 3)
INSERT [dbo].[Cita] ([Fecha_Registro], [Id_cita], [Id_cliente], [Fecha_inicio], [Estado], [Fecha_fin], [id_empleado]) VALUES (CAST(N'2024-10-28T09:17:59.600' AS DateTime), N'cWwiEuusBt', 14, CAST(N'2024-01-11T03:00:00.000' AS DateTime), N'ATENDIDO', NULL, 2)
GO
INSERT [dbo].[Cita_consulta] ([Id_citaconsulta], [Id_cita]) VALUES (N'0jpNTa0JGm0v', N'wsuAqaSE0J')
INSERT [dbo].[Cita_consulta] ([Id_citaconsulta], [Id_cita]) VALUES (N'1GcKumZC5bwW', N'mzxkjYopz8')
INSERT [dbo].[Cita_consulta] ([Id_citaconsulta], [Id_cita]) VALUES (N'2Pe6MyAJUEb1', N'OmXTRHgp6x')
GO
INSERT [dbo].[Cita_tratamiento] ([Id_citatratamiento], [Id_cita], [Id_Tratamiento], [Procedimiento], [Recomendaciones]) VALUES (N'AUPz15ZSp9sK', N'V0YuXeVvh9', 3, NULL, NULL)
INSERT [dbo].[Cita_tratamiento] ([Id_citatratamiento], [Id_cita], [Id_Tratamiento], [Procedimiento], [Recomendaciones]) VALUES (N'BMn7vP1bprax', N'0PtLudyiHK', 1, N'Holi', N'toma awa')
INSERT [dbo].[Cita_tratamiento] ([Id_citatratamiento], [Id_cita], [Id_Tratamiento], [Procedimiento], [Recomendaciones]) VALUES (N'uE58BbfLqvu9', N'otF6VY6zZn', 2, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id_cliente], [Nombre], [Genero], [Fecha_nacimiento], [DNI], [Estado]) VALUES (1, N'Carlos Perez', N'Masculino', CAST(N'1985-05-15T00:00:00.000' AS DateTime), N'12345678', N'Activo')
INSERT [dbo].[Cliente] ([Id_cliente], [Nombre], [Genero], [Fecha_nacimiento], [DNI], [Estado]) VALUES (2, N'Maria Gonzalez', N'Femenino', CAST(N'1990-08-22T00:00:00.000' AS DateTime), N'23456789', N'Activo')
INSERT [dbo].[Cliente] ([Id_cliente], [Nombre], [Genero], [Fecha_nacimiento], [DNI], [Estado]) VALUES (3, N'Juan Lopez', N'Masculino', CAST(N'1982-12-10T00:00:00.000' AS DateTime), N'34567890', N'Activo')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[Diagnostico] ([Id_diagnostico], [Id_citaconsulta], [Recomendaciones], [Resultado]) VALUES (N'6WsAGNykuS9o', N'0jpNTa0JGm0v', N'sospechoso', N'mmmh ')
INSERT [dbo].[Diagnostico] ([Id_diagnostico], [Id_citaconsulta], [Recomendaciones], [Resultado]) VALUES (N'ixe1qYcl9olG', N'IC2y0DXfBavd', N's', N'A')
INSERT [dbo].[Diagnostico] ([Id_diagnostico], [Id_citaconsulta], [Recomendaciones], [Resultado]) VALUES (N'XhrhBtm5zDgw', N'Wq7tcfRDu8E5', N'nop', N'AGUA')
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id_empleado], [Usuario], [Password], [Cargo], [Nombre]) VALUES (1, N'recep', N'123', N'RECEPCIONISTA', N'Carlos Mendoza')
INSERT [dbo].[Empleado] ([Id_empleado], [Usuario], [Password], [Cargo], [Nombre]) VALUES (2, N'odon', N'123', N'ODONTOLOGO', N'Ana Lopez')
INSERT [dbo].[Empleado] ([Id_empleado], [Usuario], [Password], [Cargo], [Nombre]) VALUES (3, N'odon', N'1234', N'ODONTOLOGO', N'Julio Rios')
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Tratamiento] ON 

INSERT [dbo].[Tratamiento] ([Id_Tratamiento], [Descripcion], [Nombre]) VALUES (1, N'Limpieza profesional de dientes', N'Profilaxis')
INSERT [dbo].[Tratamiento] ([Id_Tratamiento], [Descripcion], [Nombre]) VALUES (2, N'Tratamiento de conductos radiculares', N'Endodoncia')
INSERT [dbo].[Tratamiento] ([Id_Tratamiento], [Descripcion], [Nombre]) VALUES (3, N'Baratitos, no mas', N'Implante dental')
SET IDENTITY_INSERT [dbo].[Tratamiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Tratamiento_diagnostico] ON 

INSERT [dbo].[Tratamiento_diagnostico] ([id_Tratamiento_Diagnostico], [Id_Tratamiento], [Id_diagnostico]) VALUES (1, 1, N'6WsAGNykuS9o')
INSERT [dbo].[Tratamiento_diagnostico] ([id_Tratamiento_Diagnostico], [Id_Tratamiento], [Id_diagnostico]) VALUES (2, 1, N'XVdrrSdGQRu5')
INSERT [dbo].[Tratamiento_diagnostico] ([id_Tratamiento_Diagnostico], [Id_Tratamiento], [Id_diagnostico]) VALUES (3, 2, N'XVdrrSdGQRu5')
SET IDENTITY_INSERT [dbo].[Tratamiento_diagnostico] OFF
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [Cita_Cliente_FK] FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[Cliente] ([Id_cliente])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [Cita_Cliente_FK]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [Cita_Empleado_FK] FOREIGN KEY([id_empleado])
REFERENCES [dbo].[Empleado] ([Id_empleado])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [Cita_Empleado_FK]
GO
ALTER TABLE [dbo].[Cita_consulta]  WITH CHECK ADD  CONSTRAINT [Cita_consulta_Cita_FK] FOREIGN KEY([Id_cita])
REFERENCES [dbo].[Cita] ([Id_cita])
GO
ALTER TABLE [dbo].[Cita_consulta] CHECK CONSTRAINT [Cita_consulta_Cita_FK]
GO
ALTER TABLE [dbo].[Cita_tratamiento]  WITH CHECK ADD  CONSTRAINT [Cita_tratamiento_Cita_FK] FOREIGN KEY([Id_cita])
REFERENCES [dbo].[Cita] ([Id_cita])
GO
ALTER TABLE [dbo].[Cita_tratamiento] CHECK CONSTRAINT [Cita_tratamiento_Cita_FK]
GO
ALTER TABLE [dbo].[Cita_tratamiento]  WITH CHECK ADD  CONSTRAINT [Cita_tratamiento_Tratamiento_FK] FOREIGN KEY([Id_Tratamiento])
REFERENCES [dbo].[Tratamiento] ([Id_Tratamiento])
GO
ALTER TABLE [dbo].[Cita_tratamiento] CHECK CONSTRAINT [Cita_tratamiento_Tratamiento_FK]
GO
ALTER TABLE [dbo].[Diagnostico]  WITH CHECK ADD  CONSTRAINT [Diagnostico_Cita_consulta_FK] FOREIGN KEY([Id_citaconsulta])
REFERENCES [dbo].[Cita_consulta] ([Id_citaconsulta])
GO
ALTER TABLE [dbo].[Diagnostico] CHECK CONSTRAINT [Diagnostico_Cita_consulta_FK]
GO
ALTER TABLE [dbo].[Tratamiento_diagnostico]  WITH CHECK ADD  CONSTRAINT [Tratamiento_diagnostico_Diagnostico_FK] FOREIGN KEY([Id_diagnostico])
REFERENCES [dbo].[Diagnostico] ([Id_diagnostico])
GO
ALTER TABLE [dbo].[Tratamiento_diagnostico] CHECK CONSTRAINT [Tratamiento_diagnostico_Diagnostico_FK]
GO
ALTER TABLE [dbo].[Tratamiento_diagnostico]  WITH CHECK ADD  CONSTRAINT [Tratamiento_diagnostico_Tratamiento_FK] FOREIGN KEY([Id_Tratamiento])
REFERENCES [dbo].[Tratamiento] ([Id_Tratamiento])
GO
ALTER TABLE [dbo].[Tratamiento_diagnostico] CHECK CONSTRAINT [Tratamiento_diagnostico_Tratamiento_FK]
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarClienteDNI]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarClienteDNI]
    @dni_Cliente VARCHAR(50)
AS
BEGIN
    SELECT * FROM Cliente WHERE DNI = @dni_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEmpleadoId]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarEmpleadoId]
    @Id_Empleado INT
AS
BEGIN
    SELECT * FROM Empleado WHERE Id_Empleado = @Id_Empleado
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEmpleadoLogin]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarEmpleadoLogin]
    @Usuario VARCHAR(50),
    @Password VARCHAR(50)
AS
BEGIN
    SELECT * FROM Empleado WHERE Usuario = @Usuario AND [Password] = @Password
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarEmpleadoNombre]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarEmpleadoNombre]
    @Nombre varchar(128)
AS
BEGIN
    SELECT * FROM Empleado WHERE Nombre = @Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCita]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarCita]
	@Id_Cita varchar(16),
    @Id_cliente INT,
    @id_empleado INT,
    @Fecha_inicio DATETIME,
    @Estado VARCHAR(50),
    @Fecha_registro DATETIME
AS
BEGIN
	
    INSERT INTO Cita (Id_cita,Id_cliente, id_empleado, Fecha_inicio, Estado, Fecha_registro)
    VALUES (@Id_Cita,@Id_cliente, @id_empleado, @Fecha_inicio, @Estado, @Fecha_registro)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCitaTratamiento]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarCitaTratamiento]
	@Id_Cita varchar(16),
    @Id_CitaTratamiento varchar(16),
	@Id_Tratamiento int
AS
BEGIN
    INSERT INTO Cita_tratamiento(Id_cita,Id_citatratamiento,Id_Tratamiento)
    VALUES (@Id_Cita,@Id_CitaTratamiento,@Id_Tratamiento )
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarCliente]
    @DNI VARCHAR(50),
    @Nombre VARCHAR(50),
    @Genero VARCHAR(50),
    @Estado VARCHAR(100),
    @Fecha_nacimiento DATETIME
AS
BEGIN
    INSERT INTO Cliente (DNI, Nombre, Genero, Estado, Fecha_nacimiento)
    VALUES (@DNI, @Nombre, @Genero, @Estado, @Fecha_nacimiento)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarConsulta]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarConsulta]
	@Id_Cita varchar(16),
    @Id_CitaConsulta varchar(16)
AS
BEGIN
    INSERT INTO Cita_consulta(Id_cita,Id_citaconsulta)
    VALUES (@Id_Cita,@Id_CitaConsulta)
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarClientes]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarClientes]
AS
BEGIN
    SELECT * FROM Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEmpleados]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarEmpleados]
AS
BEGIN
    SELECT * FROM Empleado
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarOdontologos]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarOdontologos]
AS
BEGIN
    SELECT * FROM Empleado where Cargo = 'ODONTOLOGO'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarTratamiento]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [dbo].[sp_ListarTratamiento]
AS
BEGIN      
  SELECT * FROM Tratamiento
END
GO
/****** Object:  StoredProcedure [dbo].[sp_modificarCliente]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_modificarCliente]
	@Nombre VARCHAR(128) = null ,
	@DNI VARCHAR(50),
	@Estado VARCHAR(50) = null
AS
BEGIN
	IF EXISTS(SELECT 1 FROM Cliente WHERE DNI = @DNI)
	BEGIN
		IF (@Nombre IS NOT NULL AND @Nombre != '')
		BEGIN
			UPDATE Cliente SET Nombre = @Nombre WHERE DNI = @DNI
		END

		IF (@DNI IS NOT NULL AND @DNI != '')
		BEGIN
			UPDATE Cliente SET DNI = @DNI WHERE DNI = @DNI
		END

		IF (@Estado IS NOT NULL AND @Estado != '')
		BEGIN
			UPDATE Cliente SET Estado = @Estado WHERE DNI = @DNI
		END
	END
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarAtencion]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure  [dbo].[SP_RegistrarAtencion]
(
@Id_Cita varchar(16),
@Procedimiento varchar(512),
@Recomendaciones varchar(512)
)
as
begin
	update Cita_tratamiento 
	set Procedimiento = @Procedimiento,
		Recomendaciones = @Recomendaciones
	where Id_cita = @Id_Cita

	Update Cita
	set Estado = 'ATENDIDO'
	where Id_cita = @Id_Cita
end
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarDiagnostico]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegistrarDiagnostico]
    @Id_diagnostico VARCHAR(16),
    @Id_citaconsulta VARCHAR(16),
    @Recomendaciones VARCHAR(256),
    @Resultado VARCHAR(256)
AS
BEGIN
    -- primero, registro el diagnostico
    INSERT INTO Diagnostico (Id_diagnostico, Id_citaconsulta, Recomendaciones, Resultado)
    VALUES (@id_diagnostico, @id_citaconsulta, @Recomendaciones, @Resultado);
    -- luego, actualizo el estado de la cita asociada a ese diagnostico por ATENDIDO
    UPDATE Cita
    SET Cita.Estado = 'ATENDIDO'
    FROM Cita ct
    INNER JOIN Cita_consulta citc ON ct.Id_cita = citc.Id_cita
    WHERE citc.Id_citaconsulta = @Id_citaconsulta;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrartratamientosDiagnosticos]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   procedure  [dbo].[SP_RegistrartratamientosDiagnosticos]
(@Id_diagnostico varchar(16),
@Id_Tratamiento int
)
as
begin
insert into Tratamiento_diagnostico(Id_diagnostico, Id_Tratamiento) values
(@Id_diagnostico,@Id_Tratamiento)
end
GO
/****** Object:  StoredProcedure [dbo].[spAnularCita]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spAnularCita]
    @Id_Cita NVARCHAR(16) 
AS
BEGIN
    UPDATE Cita
    SET Estado = 'Anulado'  
    WHERE Id_Cita = @Id_Cita;  

    
    IF @@ROWCOUNT = 0
    BEGIN
        PRINT 'No se encontró la cita con el Id especificado.';
    END
    ELSE
    BEGIN
        PRINT 'El estado de la cita ha sido cambiado a Anulado.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[spAtenderCita]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spAtenderCita]
    @Id_Cita NVARCHAR(16)
AS
BEGIN
    UPDATE Cita
    SET Estado = 'ATENDIDO'
    WHERE Id_Cita = @Id_Cita AND Estado = 'PENDIENTE';
END;
GO
/****** Object:  StoredProcedure [dbo].[spDatosCita]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spDatosCita]
    @Id_Cita NVARCHAR(16),
	@Estado NVARCHAR(16)
AS
BEGIN
   if (@Estado = 'PENDIENTE' or @Estado = 'ANULADO')
   begin
		SELECT 
			c.Id_Cita,
			c.Fecha_Registro,
			e.Nombre AS Odontologo,
			cli.DNI,
			cli.Nombre AS Paciente,
			c.Estado
		FROM 
			Cita c
		INNER JOIN 
			Empleado e ON c.id_empleado = e.Id_empleado
		INNER JOIN 
			Cliente cli ON c.Id_cliente = cli.Id_cliente
		WHERE 
			c.Id_Cita = @Id_Cita;
   end
   else if (@Estado = 'ATENDIDO')
   begin 
   print 'cita atendida'
		 SELECT 
			c.Id_Cita,
			c.Fecha_Registro,
			e.Nombre AS Odontologo,
			cli.DNI,
			cli.Nombre AS Paciente,
			c.Estado,
			d.Recomendaciones,
			d.Resultado
		FROM 
			Cita c
		INNER JOIN 
			Empleado e ON c.id_empleado = e.Id_empleado
		INNER JOIN 
			Cliente cli ON c.Id_cliente = cli.Id_cliente
		INNER JOIN 
			Cita_consulta cc on c.Id_cita = cc.Id_cita
		INNER JOIN 
			Diagnostico d on cc.Id_citaconsulta = d.Id_citaconsulta
		WHERE 
			c.Id_Cita = @Id_Cita;
   end
END;
GO
/****** Object:  StoredProcedure [dbo].[spDatosTratamiento]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spDatosTratamiento]
    @Id_Cita NVARCHAR(16),
	@Estado NVARCHAR(16)
AS
BEGIN
   if (@Estado = 'PENDIENTE')
   begin
		SELECT 
			c.Id_Cita,
			c.Fecha_Registro,
			e.Nombre AS Odontologo,
			cli.DNI,
			cli.Nombre AS Paciente,
			c.Estado,
			tr.Nombre  as Tratamiento
		FROM 
			Cita c
		INNER JOIN 
			Empleado e ON c.id_empleado = e.Id_empleado
		INNER JOIN 
			Cliente cli ON c.Id_cliente = cli.Id_cliente
		INNER JOIN 
			Cita_tratamiento ct on c.Id_cita = ct.Id_cita
		INNER JOIN 
			Tratamiento tr on ct.Id_Tratamiento = tr.Id_Tratamiento
		WHERE 
			c.Id_Cita = @Id_Cita;
   end
   else if (@Estado = 'ATENDIDO')
   begin 
   print 'cita atendida'
		 SELECT 
			c.Id_Cita,
			c.Fecha_Registro,
			e.Nombre AS Odontologo,
			cli.DNI,
			cli.Nombre AS Paciente,
			c.Estado,
			t.Nombre as Tratamiento,
			ct.Procedimiento,
			ct.Recomendaciones
		FROM 
			Cita c
		INNER JOIN 
			Empleado e ON c.id_empleado = e.Id_empleado
		INNER JOIN 
			Cliente cli ON c.Id_cliente = cli.Id_cliente
		INNER JOIN 
			Cita_tratamiento ct on c.Id_cita = ct.Id_cita
		INNER JOIN 
			Tratamiento t on ct.Id_Tratamiento = t.Id_Tratamiento
		WHERE 
			c.Id_Cita = @Id_Cita;
   end
END;

GO
/****** Object:  StoredProcedure [dbo].[spEditarTratamiento]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create    PROCEDURE [dbo].[spEditarTratamiento] 
(@idTratamiento int,
@Descripcion varchar(128),
@Nombre varchar(128)
)
as
begin 
	update  Tratamiento set 
	Descripcion = @Descripcion,
	Nombre = @Nombre
	where Id_Tratamiento = @idTratamiento
end
GO
/****** Object:  StoredProcedure [dbo].[spHistorialConsulta]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[spHistorialConsulta]
    @Nombre NVARCHAR(50) = NULL,
    @Id_citaConsulta VARCHAR(16) = NULL,  
	@Fecha_Registro DATETIME = NULL,
	@Id_Empleado int
AS
BEGIN
    SELECT 
        CC.Id_citaConsulta,  
        Cli.Nombre AS Paciente,
        C.Fecha_Registro
    FROM 
        Cita_consulta AS CC
    INNER JOIN 
        Cita AS C ON C.Id_cita = CC.Id_cita
    INNER JOIN 
        Cliente AS Cli ON Cli.Id_cliente = C.Id_cliente
    WHERE 
        (@Nombre IS NULL OR Cli.Nombre = @Nombre) AND
        (@Id_citaConsulta IS NULL OR CC.Id_citaConsulta = @Id_citaConsulta) AND  
        (@Fecha_Registro IS NULL OR CAST(C.Fecha_Registro AS DATE) = CAST(@Fecha_Registro AS DATE)) and
		(@Id_Empleado = c.id_empleado) AND
		(c.Estado = 'ATENDIDO');
END;
GO
/****** Object:  StoredProcedure [dbo].[spHistorialDeCitas]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[spHistorialDeCitas]
    @Nombre NVARCHAR(50) = NULL,
    @Id_Cita VARCHAR(16) = NULL,  
	@Fecha_Registro DATETIME = NULL,
	@Id_Empleado int,
	@TipoCita varchar(16)
AS
BEGIN
	if (@TipoCita = 'CONSULTA')
	begin 
    SELECT 
        C.Id_cita,  
        Cli.Nombre AS Paciente,
        C.Fecha_Registro
    FROM 
        Cita_consulta AS CC
    INNER JOIN 
        Cita AS C ON C.Id_cita = CC.Id_cita
    INNER JOIN 
        Cliente AS Cli ON Cli.Id_cliente = C.Id_cliente
	where (@Nombre IS NULL OR Cli.Nombre = @Nombre) AND
		(@Id_Cita IS NULL OR C.Id_cita = @Id_Cita) AND
        (@Fecha_Registro IS NULL OR CAST(C.Fecha_Registro AS DATE) = CAST(@Fecha_Registro AS DATE)) and
		(@Id_Empleado = c.id_empleado) AND
		(c.Estado = 'ATENDIDO')
	end
	else if (@TipoCita = 'TRATAMIENTO')
	begin
	SELECT 
        C.Id_cita,  
        Cli.Nombre AS Paciente,
        C.Fecha_Registro
    FROM 
        Cita_tratamiento AS Ct
    INNER JOIN 
        Cita AS C ON C.Id_cita = Ct.Id_cita
    INNER JOIN 
        Cliente AS Cli ON Cli.Id_cliente = C.Id_cliente
	where (@Nombre IS NULL OR Cli.Nombre = @Nombre) AND
		(@Id_Cita IS NULL OR C.Id_cita = @Id_Cita) AND
        (@Fecha_Registro IS NULL OR CAST(C.Fecha_Registro AS DATE) = CAST(@Fecha_Registro AS DATE)) and
		(@Id_Empleado = c.id_empleado) AND
		(c.Estado = 'ATENDIDO')
	end
END;
GO
/****** Object:  StoredProcedure [dbo].[spHistorialTratamiento]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[spHistorialTratamiento]
    @Nombre NVARCHAR(50) = NULL,
    @IdCita NVARCHAR(50) = NULL,
    @FechaRegistro DATETIME = NULL,
	@Id_Empleado int
AS
BEGIN
    SELECT 
        C.Id_cita,
        Cli.Nombre AS Paciente,
        C.Fecha_Registro
    FROM Cita_tratamiento AS Ct
     INNER JOIN Cita AS C ON C.Id_Cita = Ct.Id_Cita
    INNER JOIN Cliente AS Cli ON Cli.Id_Cliente = C.Id_Cliente
    WHERE 
        (@Nombre IS NULL OR Cli.Nombre = @Nombre) AND
        (@IdCita IS NULL OR C.Id_Cita = @IdCita) AND
        (@FechaRegistro IS NULL OR CAST(C.Fecha_Registro AS DATE) = CAST(@FechaRegistro AS DATE)) AND
		(@Id_Empleado = c.id_empleado) and
		(c.Estado = 'ATENDIDO');
END;
GO
/****** Object:  StoredProcedure [dbo].[spIdConsulta]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spIdConsulta] 
	@IdCita varchar(16)
as
begin
	select Id_citaconsulta from Cita_consulta
	Where @IdCita = Id_cita
end
GO
/****** Object:  StoredProcedure [dbo].[spListaCitasFiltradas]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spListaCitasFiltradas]
    @DNI NVARCHAR(50) = NULL,
    @Odontologo NVARCHAR(50) = NULL,
    @Paciente NVARCHAR(50) = NULL,
    @FechaRegistro DATETIME = NULL
AS
BEGIN
    SELECT 
        C.Id_Cita,
        C.Fecha_Registro,
        E.Nombre AS Odontologo,
        Cli.DNI,
        Cli.Nombre AS Paciente,
        T.Nombre AS Tratamiento,
        C.Estado
    FROM Cita AS C
    INNER JOIN Cliente AS Cli ON C.Id_Cliente = Cli.Id_Cliente 
    INNER JOIN Empleado AS E ON C.Id_Empleado = E.Id_Empleado 
    LEFT JOIN Cita_tratamiento CT ON C.Id_Cita = CT.Id_Cita
    LEFT JOIN Tratamiento T ON CT.Id_Tratamiento = T.Id_Tratamiento
    WHERE 
        (@DNI IS NULL OR Cli.DNI = @DNI) AND
        (@Odontologo IS NULL OR E.Nombre = @Odontologo) AND
        (@Paciente IS NULL OR Cli.Nombre = @Paciente) AND
        (@FechaRegistro IS NULL OR CAST(C.Fecha_Registro AS DATE) = CAST(@FechaRegistro AS DATE))
END;
GO
/****** Object:  StoredProcedure [dbo].[spListaCitasPorOdontologo]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spListaCitasPorOdontologo]
    @Id_Empleado INT,         -- ID del empleado que inicia sesión
    @Cargo NVARCHAR(50),      -- Cargo del empleado (Odontólogo o Recepcionista)
    @DNI NVARCHAR(50) = NULL,
    @Paciente NVARCHAR(50) = NULL,
    @FechaRegistro DATETIME = NULL
AS
BEGIN
    SELECT 
        C.Id_Cita,
        C.Fecha_Registro,
        Cli.DNI,
        Cli.Nombre AS Paciente,
        T.Nombre AS Tratamiento,
        C.Estado
    FROM Cita AS C
    INNER JOIN Cliente AS Cli ON C.Id_Cliente = Cli.Id_Cliente 
    INNER JOIN Empleado AS E ON C.Id_Empleado = E.Id_Empleado 
    LEFT JOIN Cita_tratamiento CT ON C.Id_Cita = CT.Id_Cita
    LEFT JOIN Tratamiento T ON CT.Id_Tratamiento = T.Id_Tratamiento
    WHERE 
        (@Cargo = 'RECEPCIONISTA' OR E.Id_Empleado = @Id_Empleado) AND -- Filtra citas del odontólogo si es "ODONTOLOGO"
        E.Cargo = 'ODONTOLOGO' AND
        C.Estado = 'PENDIENTE' AND -- Excluye las citas con estado "ANULADO"
        (@DNI IS NULL OR Cli.DNI = @DNI) AND
        (@Paciente IS NULL OR Cli.Nombre = @Paciente) AND
        (@FechaRegistro IS NULL OR CAST(C.Fecha_Registro AS DATE) = CAST(@FechaRegistro AS DATE))
END;
GO
/****** Object:  StoredProcedure [dbo].[spRegistrarTratamientos]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[spRegistrarTratamientos]
 @descripcion varchar(128),
 @nombre varchar(128)
 AS
 BEGIN
    Insert into Tratamiento(descripcion,nombre)
	values(@descripcion,@nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[spTipoDeCita]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spTipoDeCita]
	@Id_Cita NVARCHAR(16)
as
begin
	declare @Estado NVARCHAR(16);
	declare @TipoCita NVARCHAR(16);
	if exists(select 1 from Cita_consulta where Id_cita = @Id_Cita)
	begin
		set @TipoCita = 'CONSULTA' ;
		select @Estado = Estado from Cita where Id_cita = @Id_Cita
		select @TipoCita as tipoCita, @Estado as estado
	end
	else if exists(select 1 from Cita_tratamiento where Id_cita = @Id_Cita)
	begin
		set @TipoCita = 'TRATAMIENTO' ;
		select @Estado = Estado from Cita where Id_cita = @Id_Cita
		select @TipoCita as tipoCita, @Estado as estado
	end
	else 
	begin
		set @TipoCita = 'NO EXISTE' ;
		select @TipoCita as tipoCita		
	end
end
GO
/****** Object:  StoredProcedure [dbo].[spTratamientosDiagnostico]    Script Date: 28/10/2024 18:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spTratamientosDiagnostico]
 @Id_Cita NVARCHAR(16)
 as
 begin
	select 
		t.Nombre as Tratamiento
	from Cita c
	inner join 
		Cita_consulta cc on c.Id_cita = cc.Id_cita
	inner join 
		Diagnostico d on cc.Id_citaconsulta = d.Id_citaconsulta
	inner join 
		Tratamiento_diagnostico td on d.Id_diagnostico = td.Id_diagnostico
	inner join
		Tratamiento t on td.Id_Tratamiento = t.Id_Tratamiento
	where 
				c.Id_Cita = @Id_Cita;

 end
GO
